$color-dark : #262626;
$color-black : #000;
$color-primary : #d3ab55;
$color-secondary : #bbb;

$font-josefinSans : "Josefin Sans";
$font-sahel: Sahel, Tahoma;
$font-nastaliq: Nastaliq, Tahoma;

@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Nastaliq;
    src: url("../fonts/IranNastaliq.ttf") format("ttf"), url("../fonts/font-IranNastaliq-master/WebFonts/IranNastaliq-Web.woff") format("woff"), url("../fonts/font-IranNastaliq-master/WebFonts/IranNastaliq-Web.woff2") format("woff2");
    font-weight: normal;
}

// dorost kardan mixin baraye display flex
@mixin flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

// style baraqye text hamoon
@mixin text-style {
    font-weight: 300;
    letter-spacing: 1px;
}

// mixin baraye center kardan
@mixin centering($topvalue) {
    position: absolute;
    top: $topvalue;
    left: 50%;
    transform: translate(-50%, -50%);
    // in transforme baraye ine ke vasat bashe on eleman ya harchi ke hastesh
}

%fullspace {
    width: 100%;
    height: 100%;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-dark;
}